## INCLUDE THIS FILES
!*.yaml
!.gitignore
!*.md
!.storage/input_boolean
!.storage/input_datetime
!.storage/input_number
!.storage/input_select
!.storage/lovelace_resources

## EXCLUDE 
# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
# SqLite-DB
home-assistant_v2.db*
home-assistant.log*
set_fomino_llt.sh
set_vishnya_llt.sh
# bao_snapshot.jpg images
*_snapshot.jpg
vstarcam_snapshot.jpg
video-livestream.h264

sensors

portainer

mosquitto.log
