version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:latest"
    volumes:
      - /home/homeassistant/.homeassistant:/config
    environment:
      - TZ=Europe/Moscow
    restart: unless-stopped
    privileged: true
    network_mode: "host"

  portainer:
    container_name: portainer
    image: portainer/portainer-ce
    ports:
      - "9000:9000"
    volumes:
      - /home/homeassistant/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: "host"
    restart: unless-stopped
    environment:
      - TZ=Europe/Moscow

  eclipse-mosquitto:
    container_name: mosquitto 
    image: "eclipse-mosquitto:2.0.14"
    volumes:
      - /home/homeassistant/mosquitto/config:/mosquitto/config
      - /home/homeassistant/mosquitto/data:/mosquitto/data
      - /home/homeassistant/mosquitto/log:/mosquitto/log 
    network_mode: "host"
    restart: unless-stopped
    ports:
      - 1883:1883
      - 9001:9001
    environment:
      - TZ=Europe/Moscow

  openresty:
    container_name: nginx
    image: "openresty/openresty:1.19.9.1-10-bullseye"
    volumes:
      - /home/homeassistant/nginx/html:/var/www/html
      - /home/homeassistant/nginx/logs:/var/log/nginx
      - /home/homeassistant/nginx/conf/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
    environment:
      - TZ=Europe/Moscow
    restart: unless-stopped
    ports:
      - "8080:8080"
    network_mode: "host"
#    networks:
#      homeassistant:
#        ipv4_address: 172.22.0.4
#        aliases:
#          - hilink

#networks:
#  default:
#    driver: bridge
#    ipam:
#      driver: default
#      config:
#        - subnet: 172.18.0.0/16
#  homeassistant:
#    driver: bridge
#    ipam:
#      driver: default
#      config:
#        - subnet: 172.22.0.0/16
