- id: '1647176714498'
  alias: update_temperature
  description: Обновление датчиков температуры
  trigger:
  - platform: time_pattern
    minutes: /15
  condition: []
  action:
  - service: shell_command.get_boa_snapshot
    data: {}
  - service: shell_command.get_vstarcam_snapshot
    data: {}
  mode: single
- id: '1610368227923'
  alias: Вечернее изменение температуры
  description: ''
  trigger:
  - platform: template
    value_template: '{{ states(''sensor.time'') == (states.input_datetime.cellar_night_on_time.state[0:5])
      }}'
  condition:
  - condition: state
    entity_id: input_boolean.cellar_day_night_automation
    state: 'on'
  action:
  - service: climate.set_temperature
    data:
      temperature: '{{ states(''input_number.cellar_nighttime_temperature'') }}'
    entity_id: climate.cellar
  mode: single
- id: '1610368478188'
  alias: Утреннее изменение температуры
  description: ''
  trigger:
  - platform: template
    value_template: '{{ states(''sensor.time'') == (states.input_datetime.cellar_day_on_time.state[0:5])
      }}'
  condition:
  - condition: state
    entity_id: input_boolean.cellar_day_night_automation
    state: 'on'
  action:
  - service: climate.set_temperature
    data:
      temperature: '{{ states(''input_number.cellar_daytime_temperature'') }}'
    entity_id: climate.cellar
  mode: single
- id: '1610994751360'
  alias: Автоматически рассылать SMS
  description: ''
  trigger:
  - platform: state
    entity_id: sensor.hilink_sms_count
    attribute: LocalUnread
    for: 00:03:30
  condition:
  - condition: state
    entity_id: sensor.hilink_sms_smstat
    state: '0'
  action:
  - service: script.public_sms
    data: {}
  mode: single
- id: '1651393618691'
  alias: Start water pump timer
  description: Запускаем таймер работы при включении насоса d
  triggers:
  - entity_id: switch.sonoff_mini_tasmota_fbf89f
    from: 'off'
    to: 'on'
    for:
      hours: 0
      minutes: 0
      seconds: 0
    trigger: state
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: sensor.wemos_97fd7d_sensor1
        state: 'ON'
      sequence:
      - action: timer.start
        metadata: {}
        data: {}
        target:
          entity_id: timer.water_pump_timer
    - conditions:
      - condition: state
        entity_id: sensor.wemos_97fd7d_sensor1
        state: 'OFF'
      sequence:
      - action: timer.start
        metadata: {}
        data:
          duration: '20:00'
        target:
          entity_id: timer.water_pump_timer
    default:
    - action: timer.start
      metadata: {}
      data:
        duration: '20:00'
      target:
        entity_id: timer.water_pump_timer
  mode: single
- id: '1651394124147'
  alias: cancel water pump timer
  description: Останавливаем таймер если мы насос выключили
  trigger:
  - platform: state
    entity_id: switch.sonoff_mini_tasmota_fbf89f
    from: 'on'
    to: 'off'
  condition: []
  action:
  - service: timer.cancel
    data: {}
    target:
      entity_id: timer.water_pump_timer
  mode: single
- id: '1651394293751'
  alias: switch water pump on timer
  description: Выключаем насос по истечению времени таймера
  trigger:
  - platform: event
    event_type: timer.finished
    event_data:
      entity_id: timer.water_pump_timer
  condition: []
  action:
  - service: switch.turn_off
    data: {}
    target:
      entity_id: switch.sonoff_mini_tasmota_fbf89f
  mode: single
- id: '1651394559036'
  alias: high level stop
  description: Останавливаем насос при высоком уровне воды.
  trigger:
  - platform: state
    entity_id: sensor.wemos_97fd7d_sensor1
    from: 'on'
    to: 'off'
  - platform: state
    entity_id: sensor.wemos_97fd7d_sensor1
    from: 'ON'
    to: 'OFF'
  condition: []
  action:
  - service: switch.turn_off
    data: {}
    target:
      entity_id: switch.sonoff_mini_tasmota_fbf89f
  mode: single
- id: '1668460397839'
  alias: Погреб выключение автоматизации
  description: ''
  trigger:
  - platform: state
    entity_id:
    - switch.sonoff_th1_mqtt
    to: 'off'
  condition: []
  action:
  - service: frontend.set_theme
    data: {}
  mode: single
- id: '1670173354973'
  alias: Включение дневного режима
  description: ''
  trigger:
  - platform: time
    at: input_datetime.cellar_day_on_time
  condition: []
  action:
  - service: select.select_option
    data:
      option: peak
    target:
      entity_id:
      - select.cellar_daily
      - select.cellar_monthly
  mode: single
- id: '1670173456250'
  alias: Включение ночного режима
  description: ''
  trigger:
  - platform: time
    at: input_datetime.cellar_night_on_time
  condition: []
  action:
  - service: select.select_option
    data:
      option: offpeak
    target:
      entity_id:
      - select.cellar_daily
      - select.cellar_monthly
  mode: single
- id: '1700840243315'
  alias: Переключить на реку
  description: ''
  trigger:
  - platform: state
    entity_id:
    - input_button.river
  condition: []
  action:
  - service: script.1700810450850
    data: {}
  mode: single
- id: '1700840512678'
  alias: Ориентировать камеру на веранду
  description: ''
  trigger:
  - platform: state
    entity_id:
    - input_button.door
  condition: []
  action:
  - service: script.1700810375361
    data: {}
  mode: single
- id: '1700840618216'
  alias: Ориентировать камеру на калитку
  description: ''
  trigger:
  - platform: state
    entity_id:
    - input_button.gate
  condition: []
  action:
  - service: script.1700810171359
    data: {}
  mode: single
